@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    background-color: #111111;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: #E5E5E5;
}

/*Header Navigator*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 70px;
    z-index: 1000;
}

nav.menu {
    display: flex;
    background-image: url('../assets/headerContainer.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 54px;
    width: 869px;
    align-items: center;
    justify-content: space-around;
}

.headerButton {
    height: 35px;
    width: 200px;
    border-style: solid;
    border-radius: 50px;
    border-width: 5px;
    border-color: #000000;
    cursor: pointer;
    color: #848484;
    font-weight:900;
    background-color: #111111;
    transition: 0.5s;
}

.headerButton:hover {
    color: #E5E5E5;
    background-color: #000000;
    border-color: #101010;
}

.headerButton.active {
    color: #101010;
    background-color: #E5E5E5;
    border-color: #000000;
}

#About {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#aboutContainer {
    justify-content: space-evenly;
}

#divProfilePicture {
    margin: 0 5vw 0 10vw;
}

#divProfileText {
    margin-right: 5vw;
}

#Projects {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#projectsContainer {
    position: relative;
    height: 49vh;
    width: 75vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

#projectsCarousel {
    transition: transform 0.4s ease-in-out;
    display: flex;
    transform: translateX(0);
}

.projetos {
    height: 49vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prevProject, #nextProject {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E5E5E5AA; /*rgba(0, 0, 0, 0.5);*/
    color: #101010;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

#prevProject {
    left: 15px;
}

#nextProject {
    right: 15px;
}

.projectThumb {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.imgThumb {
    background: #E5E5E5;
    height: 60%;
    width: 70%;
    border: solid #000000 10px;
    border-radius: 50px;
}

.projectDescription {
    display: flex;
    height: 100%;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 5vw;
}






#Contacts {
    display: flex;
    height: 93vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

div.bodyContainer {
    background-image: url('../assets/bodyContainer.png');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 75vw;

    background-position: center;
    background-size: contain;
}

footer {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100vw;
}

img.pageSplit {
    width: 100vw;
    padding: 10px 0;
}

