{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<header>
    <nav class="menu">
        <a><button class="headerButton" id="aboutButton">Sobre</button></a>
        <a><button class="headerButton" id="projectsButton">Projetos</button></a>
        <a><button class="headerButton" id="contactsButton">Contatos</button></a>
    </nav>
</header>
<main>
    <div id="About">
        <div id="aboutContainer" class="bodyContainer">
            <div id="divProfilePicture">
                <img class="profilePicture" src="../static/assets/profilePicture.png">
            </div>
            <div id="divProfileText">
                <h1>Hey there!</h1>
                <h2>I'm Eric Gomes, 31 years old and passionate about bringing creative ideas to life through programing.
                <hr>This portfolio bring some of the work I've done, from personal experiments to professional endeavors.
                <hr>Whether you're here to explore, I hope you find something interesting.</h2>

            </div>
        </div>
    </div>

    <img class="pageSplit" src="../static/assets/pageSplit.png">

    <div id="Projects">
        <div id="projectsContainer" class="bodyContainer">
            <div id="projectsCarousel">
                {% for project in projects %}
                <div class="projetos">
                    <div class="projectThumb">
                        <h1>{{ project.title }}</h1>
                        <img src="{{ project.thumbnail }}" alt="pic" class="imgThumb">
                    </div>
                    <div class="projectDescription">
                        <p>{{ project.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Navigation buttons -->
             <button id="prevProject">❮</button>
             <button id="nextProject">❯</button>
        </div>
    </div>

    <img class="pageSplit" src="../static/assets/pageSplit.png">

    <div id="Contacts">
        <div id="contactsContainer" class="bodyContainer">
            <h1>Contatos</h1>
        </div>
    </div>
    <footer>
        <img class="profilePicture" src="../static/assets/logo.png">
    </footer>
</main>

{% endblock %}